{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center py-5">
    <h2 class="display-4"></h2>
    <p class="lead">Gestiona y administra inventario de Ventas.</p>
    <hr class="my-4">

    <div class="row mt-5">
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('listar_Ventas') }}" class="btn btn-outline-primary btn-lg btn-block">
                <i class="fas fa-users"></i> Gestionar Ventas
            </a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('listar_Auditoria') }}" class="btn btn-outline-primary btn-lg btn-block">
                <i class="fas fa-users"></i> Mostrar Auditoria
            </a>
        </div>
    </div>

</div>
{% endblock %}